.hello{
  text-align: center;
  text-decoration-color: aliceblue;
  
}
.music{
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  text-shadow: 0rch;

}.sex{
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  text-shadow: 0rch;
}